<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

     <extension-point id="metadata" name="Metadata" schema="schema/metadata.exsd"/>
   <extension-point id="data" name="Data" schema="schema/data.exsd"/>
   <extension-point id="embedded" name="Embedded Database" schema="schema/embedded.exsd"/>
   <extension-point id="properties" name="properties" schema="schema/properties.exsd"/>

<!-- Pop-up Menus -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.sql;*.sql2"
            id="com.quantum">
         <menu
               label="Quantum"
               path="additions"
               id="com.quantum.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Execute Against..."
               class="com.quantum.actions.ExecuteAgainstAction"
               menubarPath="com.quantum.menu1/group1"
               enablesFor="*"
               id="com.quantum.actions.ExecuteAgainstAction">
         </action>
<!--         <action
               class="com.quantum.actions.ExplainAction"
               id="com.quantum.actions.ExplainAction"
               label="Explain"
               menubarPath="com.quantum.menu1/group1"/> -->
      </objectContribution>
   </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           description="%category.description"
           id="com.quantum.category"
           name="%category.name"/>
     <command
           category="com.quantum.category"
           description="%command.format.description"
           id="com.quantum.actions.FormatAction"
           name="%command.format.name"/>
     <command
           category="com.quantum.category"
           description="%command.execute.description"
           id="com.quantum.actions.ExecuteAction"
           name="%command.execute.name"/>
     <keyBinding
           command="com.quantum.actions.FormatAction"
           configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
           contextId="com.quantum.view.sql"
           keySequence="Ctrl+Shift+F"/>
     <keyBinding
           command="com.quantum.actions.ExecuteAction"
           configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
           keySequence="Ctrl+Shift+Q"
           scope="org.eclipse.ui.globalScope"/>
     <scope
           description="%scope.description"
           id="com.quantum.view.sql"
           name="%scope.name"/>
     <!--command
           category="com.quantum.category"
           description="%command.comment.description"
           id="com.quantum.actions.CommentAction"
           name="%command.comment.name"/-->
     <!--keyBinding
           command="com.quantum.actions.CommentAction2"
           configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
           keySequence="Ctrl+/"
           scope="org.eclipse.ui.globalScope"/-->
     <command
           category="com.quantum.category"
           description="%command.comment.description"
           id="com.quantum.actions.CommentAction2"
           name="%command.comment.name"/>
<!--     <keyBinding
           command="com.quantum.actions.ExecuteAction"
           configuration="org.eclipse.ui.defaultAcceleratorConfiguration"
           keySequence="Ctrl+Shift+Q"
           scope="org.eclipse.ui.globalScope"/>-->
  </extension>
<!-- Perspective -->
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            icon="icons/quantum.gif"
            class="com.quantum.perspective.DBPerspective"
            id="com.quantum.dbperspective">
      </perspective>
   </extension>
<!-- Views -->
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="com.quantum.views">
      </category>
      <view
            name="%sqllogview.name"
            icon="icons/log.gif"
            category="com.quantum.views"
            class="com.quantum.view.SQLLogView"
            id="com.quantum.view.logview">
      </view>
      <view
            name="%driverview.name"
            icon="icons/driver.gif"
            category="com.quantum.views"
            class="com.quantum.view.driver.JDBCDriverView"
            id="com.quantum.view.JDBCDriverView">
      </view>
      <view
            name="%tableview.name"
            icon="icons/table.gif"
            category="com.quantum.views"
            class="com.quantum.view.tableview.TableView"
            id="com.quantum.view.tableview.TableView">
      </view>
      <view
            name="%bookmarkview.name"
            icon="icons/bookmarks.gif"
            category="com.quantum.views"
            class="com.quantum.view.bookmark.BookmarkView"
            id="com.quantum.view.bookmarkview">
      </view>
      <view
            name="%sqlqueryview.name"
            icon="icons/script.gif"
            category="com.quantum.views"
            class="com.quantum.view.SQLQueryView"
            id="com.quantum.view.sqlqueryview">
      </view>
      <view
            allowMultiple="true"
            category="com.quantum.views"
            class="com.quantum.view.SQLSearchResultsTree"
            icon="icons/search_results_view.gif"
            id="com.quantum.view.sqlsearchresultstree"
            name="Quantum Search Results"/>
   </extension>
<!-- Editors -->
   <extension
         point="org.eclipse.ui.editors">
        <editor
            class="com.quantum.editors.SQL2Editor"
            contributorClass="com.quantum.editors.SQL2ActionBarContributor"
            extensions="sql2, ddl2, sql, ddl"
            icon="icons/script.gif"
            id="com.quantum.editors.SQL2Editor"
            name="Quantum SQL2 Editor"/>
   </extension>
<!-- Preferences -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.quantum.preferences.GlobalPreferences"
            id="com.quantum.preferences"
            name="Quantum DB">
      </page>
      <page
            name="SQL Editor"
            category="com.quantum.preferences"
            class="com.quantum.preferences.SQLEditorPreferences"
            id="com.quantum.preferences.editor">
      </page>
      <page
            name="Copy"
            category="com.quantum.preferences"
            class="com.quantum.preferences.CopyPreferences"
            id="com.quantum.preferences.copy">
      </page>
      <page
            name="Custom Copy 1"
            category="com.quantum.preferences.copy"
            class="com.quantum.preferences.CustomCopyPreferences"
            id="com.quantum.preferences.customcopy">
      </page>
      <page
            name="Custom Copy 2"
            category="com.quantum.preferences.copy"
            class="com.quantum.preferences.CustomCopyPreferences2"
            id="com.quantum.preferences.customcopy2">
      </page>
      <page
            name="Custom Copy 3"
            category="com.quantum.preferences.copy"
            class="com.quantum.preferences.CustomCopyPreferences3"
            id="com.quantum.preferences.customcopy3">
      </page>
      <page
            class="com.quantum.preferences.DatabasePreferences"
            category="com.quantum.preferences"
            name="Databases"
            id="com.quantum.preferences.databases"/>
      <page
            category="com.quantum.preferences"
            class="com.quantum.preferences.ExportPreferences"
            id="com.quantum.preferences.export"
            name="Export"/>
      <page
            category="com.quantum.preferences"
            class="com.quantum.editors.SQL2TemplatesPreferencePage"
            id="com.quantum.preferences.editor.templates"
            name="Templates"/>
   </extension>
<!-- Menu for Bookmark View -->
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            targetID="com.quantum.view.bookmarkview"
            id="com.quantum.view.bookmarkview.menu">
<!-- Export Bookmarks -->
         <action
               label="%bookmarkview.exportbookmarks"
               icon="icons/export.gif"
               tooltip="Exports bookmarks to a file"
               class="com.quantum.actions.ExportBookmarksAction"
               menubarPath="additions"
               id="com.quantum.action.importbookmarks">
         </action>
<!-- Import Bookmarks -->
         <action
               label="%bookmarkview.importboomarks "
               icon="icons/import.gif"
               tooltip="Imports bookmarks from a file"
               class="com.quantum.actions.ImportBookmarksAction"
               menubarPath="additions"
               id="com.quantum.action.importbookmarks">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
      </perspectiveExtension>
   </extension>
<!-- Property Pages -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.quantum.properties.DatabaseInformationPropertyPage"
            icon="icons\schema.gif"
            id="com.quantum.properties.DatabaseInformationPropertyPage"
            name="Database"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.TreeNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.DataTypesPropertyPage"
            id="com.quantum.properties.DataTypesPropertyPage"
            name="Data Types"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.TreeNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.BookmarkPropertyPage"
            icon="icons\bookmarks.gif"
            id="com.quantum.properties.BookmarkPropertyPage"
            name="Bookmark"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.BookmarkNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.SchemaPropertyPage"
            icon="icons\schema.gif"
            id="com.quantum.properties.SchemaPropertyPage"
            name="Schemas"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.BookmarkNode">
            </instanceof>
         </enabledWhen>
      </page>
       <page
            class="com.quantum.properties.IndexPropertyPage"
            id="com.quantum.properties.IndexPropertyPage"
            name="Indices"
            nameFilter="*">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.EntityNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.ReferencesPropertyPage"
            icon="icons\relationshipson.GIF"
            id="com.quantum.properties.ReferencesPropertyPage"
            name="References"
            nameFilter="*">
          <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.EntityNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.SQLPropertyPage"
            icon="icons\script.gif"
            id="com.quantum.properties.SQLPropertyPage"
            name="SQL">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.EntityNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.SPPropertyPage"
            icon="icons/procedure.gif"
            id="com.quantum.properties.SPPropertyPage"
            name="Stored Procedure">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.ProcedureNode">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="com.quantum.properties.TriggerPropertyPage"
            icon="icons/trigger.gif"
            id="com.quantum.properties.TriggerPropertyPage"
            name="Triggers">
         <enabledWhen>
            <instanceof
                  value="com.quantum.view.bookmark.EntityNode">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            name="Export to Quantum Bookmark File"
            icon="./icons/bookmarkfile.gif"
            class="com.quantum.wizards.ExportBookmarkWizard"
            id="com.quantum.wizards.ExportBookmarkWizard">
         <description>
            A wizard that exports the list of database bookmarks to a Quantum bookmark file.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.ColumnReferencedByTable"
            markerType="org.eclipse.core.resources.problemmarker">
	   		<attribute name="com.quantum.sql.grammar.error.id" value="4"/>
	   </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.AmbiguousColumnName"
            markerType="org.eclipse.core.resources.problemmarker">
	   		<attribute name="com.quantum.sql.grammar.error.id" value="6"/>
	   </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.UnknownColumn"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="5"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.UnknownTableInFromClause"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="9"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.UnknownTable"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="8"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.AliasOutsideSelectList"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="12"/>
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="com.quantum.editors.quickfix.MismatchedColumnTable"
            markerType="org.eclipse.core.resources.problemmarker">
         <attribute
               name="com.quantum.sql.grammar.error.id"
               value="10"/>
      </markerResolutionGenerator>
   </extension>
   <extension
         name="DB Search"
         point="org.eclipse.search.searchPages">
      <page
            class="com.quantum.search.QuantumSearchPage"
            enabled="true"
            icon="icons/search_results_view.gif"
            id="com.quantum.search.QuantumSearchPage"
            label="Database"
            tabPosition="99"/>
   </extension>
   <extension
         point="org.eclipse.ui.workingSets">
      <workingSet
            icon="icons/bookmarks.gif"
            id="com.quantum.ui.BookmarkWorkingSet"
            name="Quantum Database Bookmarks"
            pageClass="com.quantum.ui.workingsets.BookmarkWorkingSetPage"
            />
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.quantum.ui.workingsets.BookmarkElementFactory"
            id="com.quantum.ui.bookmarkFactory"/>
   </extension>
   <extension point = "org.eclipse.ui.actionSets">
	   <actionSet id="com.quantum.Quantum.actionSet"
		   label="SQL2 Editor"
		   visible="true">
		   <action
           class="com.quantum.actions.CommentAction2"
           definitionId="com.quantum.actions.CommentAction2"
           id="com.quantum.actions.CommentActionID"
           label="Toggle Comments">
		   </action>
<!--     <action
           class="com.quantum.actions.ExecuteAction"
           definitionId="com.quantum.actions.ExecuteAction"
           id="com.quantum.actions.ExecuteActionID"
           label="Execute against"/>-->
	   </actionSet> 
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="quantum-plugin.editorContribution1"
            targetID="com.quantum.editors.SQL2Editor">
         <action
               accelerator="Ctrl+/"
               class="com.quantum.actions.CommentAction2"
               disabledIcon="icons/big_syn_table.gif"
               icon="icons/filter.gif"
               id="quantum-plugin.action1"
               label="quantum-plugin.action1"
               style="push"
               toolbarPath="Normal\additions"
               tooltip="Toggle comments"/>
          <action
               accelerator="Ctrl+7"
               class="com.quantum.actions.CheckSyntaxAction2"
               disabledIcon="icons/unchecked.gif"
               icon="icons/script.gif"
               id="quantum-plugin.action3"
               label="quantum-plugin.action3"
               style="push"
               toolbarPath="Normal\additions"
               tooltip="Check syntax of statements"/>
         <action
               accelerator="Ctrl+Shift+F"
               class="com.quantum.actions.FormatAction2"
               disabledIcon="icons/missingschema.gif"
               icon="icons/grid.gif"
               id="quantum-plugin.action2"
               label="quantum-plugin.action2"
               style="push"
               toolbarPath="Normal\additions"
               tooltip="Format contents of editor"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.quantum.editors.SQL2ContextType"
            id="com.quantum.editors.sql2"
            name="%SQL2.contextType.name"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.quantum.view.bookmark.EntityTester"
            id="com.quantum.testdata.propertyTester"
            namespace="com.quantum.testdata"
            properties="isTable"
            type="com.quantum.view.bookmark.EntityNode">
      </propertyTester>
   </extension>
   
   <!--extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.quantum.actions.CommentAction"
            contextId="com.quantum.SQL2EditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+7"/>
   </extension-->
   <!--extension
         point="org.eclipse.ui.contexts">
      <context
            description="%context.editingText.description"
            id="com.quantum.SQL2EditorScope"
            name="%context.editingText.name"
            parentId="org.eclipse.ui.contexts.window"/>
   </extension-->
</plugin>
